:root {
    --basic-bgc: #FFFFFF; 
    --color-accent: #4d5ae5;
    --text-color-dark: #434455; 

}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--basic-bgc);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-accent);
}

.link {
    text-decoration: none;
}

.accent {
    color: var(--text-color-dark);
}

.list {
    list-style: none;
}

.list-item-link { 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-dark);
    text-decoration: none;
}

.list-item-link:hover,
.list-item-link:focus {
    color: #404bbf;
}

address {
    font-style: normal
}
